body{
    width: 1920px;
    margin: 0 auto;
    padding: 0;
}
@font-face{
    font-family: raleway;
    src: url(../fonts/raleway-regular.ttf)
}
@font-face{
    font-family: raleway-extra-bold;
    src: url(../fonts/raleway-extra-bold.ttf)
}
@font-face{
    font-family: raleway-semi-bold;
    src: url(../fonts/raleway-semi-bold.ttf)
}
@font-face{
    font-family: montserrat;
    src: url(../fonts/montserrat-regular.ttf)
}
@font-face{
    font-family: montserrat-extra-light;
    src: url(../fonts/montserrat-extra-light.otf)
}

/*all offer links in code*/
.all-btn{
    display: block;
    padding: 21px 0;
    width: 170px;
    background-color: #998675;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    text-align: center;
}
.all-btn:hover{
    background-color: #c7b299;
}
.all-btn:active{
    background-color: #f1eee9;
}
.all-btn span{
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'raleway-extra-bold', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}
.all-btn:hover.all-btn span{
    color:#ffc;
}
.all-btn:active.all-btn span{
    color: #998675;
    font-weight: 900;
}
.main-header{
    margin: 0 auto;
    padding: 40px 376px;
    position: relative;
    background-color: #ccc;
    overflow: hidden;
}
.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}
.header-img:first-child {
  opacity: 1;
}
.pagination{
    margin: 329px auto 42px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 47.2%;
}
.pagination-circle{
    display: block;
    width: 11px;
    height: 11px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 0 5px;
    border-radius: 50%;
}
.pagination-circle:hover{
    box-sizing: border-box;
    transform: scale(1.5);
    background-color: transparent;
    opacity: 0.8;
    border: 2px solid #c7b299;    
}
.header-img:target{
    opacity: 1
}
.main-header #karusel-photo1:target ~ .pagination a[href="#karusel-photo1"],
.main-header #karusel-photo2:target ~ .pagination a[href="#karusel-photo2"],
.main-header #karusel-photo3:target ~ .pagination a[href="#karusel-photo3"],
.main-header #karusel-photo4:target ~ .pagination a[href="#karusel-photo4"],
.main-header #karusel-photo5:target ~ .pagination a[href="#karusel-photo5"]{
    background-color: red;
}
.main-main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    float: left;
    position: relative;
}
.logo svg{
    fill: #ffffff;
}
.logo-txt{
    height: 26px;
    color: #ffffff;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
    text-transform: capitalize;
}
.logo:hover .logo-image{
    fill: #c7b299;
}
.logo:hover .logo-txt{
    color: #c7b299;
}
.logo:active .logo-txt{
    color: #ccc;
}
.logo:active .logo-image{
    fill: #ccc;
}
label{
    width: 50px;
    height: 50px;
    display: none;
    background-image: url(../img/burger.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: cover;
}
#main-menu{
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .main-menu{
    visibility: visible;
    position: relative;
}
.main-menu{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.main-menu-link{
    text-decoration: none;
    color: #ffffff;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    padding: 15px;
}
.main-menu-link:hover{
    color: #c7b299;
}
.main-menu-link:active{
    color: #ccc;
}
.cart{
    display: block;
    width: 18px;
    height: 24px;
    background-image: url(../img/icon-cart.svg);
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    align-self: center;
    margin: 0 30px;
}
.cart:hover{
    background-image: url(../img/icon-cart-hover.svg);
}
#search{
    align-self: center;
    position: absolute;
    right: -30px;
}
.search{
    width: 24px;
    height: 24px;
    background-image: url(../img/icon-search.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: transparent;
    outline: none;
    border: none;
    transition: width 1s ease;
}
.search:hover{
    background-image: url(../img/icon-search-hover.svg);
}
.search:focus{
    width: 200px;
    border: 1px solid #ccc;
    position: absolute;
    top: -12px;
    left: -10px;
}
.slogan{
    clear:both;
    margin: 285px auto 382px;
    text-align: center;
    position: relative;
}
.slogan-content h3{
    color: #ffffff;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 36px;
    font-weight: 500;
}
.slogan-content h1{
    color: #ffffff;
    font-family: 'raleway-extra-bold', 'arial', sans-serif;
    font-size: 52px;
    font-weight: 400;
}
.slogan-content p{
    color: #ffffff;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 562px;
    margin: 0 auto;
    
}
.slogan-btn{
    margin: 52px auto 0;
}
.slogan-arrow{
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
}
.previous{
    transform: rotate(-45deg);
    top: 184px;
    left: -200px;
}
.next{
    transform: rotate(135deg);
    top: 184px;
    right: -200px;
}
.previous:hover{
    transform: scale(1.3) rotate(-45deg);
}
.next:hover{
    transform: scale(1.3) rotate(135deg);
}
.skills{
    background-color: #fbfaf8;
}
.skills-header{
    display: flex;
    justify-content: center;
    padding: 80px 378px;
    background-color: #fff;
}
.skill-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding: 0 16px;
}
.skill-icon{
    fill: #555;
}
.skill-item-caption{
    width: 100%;
    color: #555555;
    font-family: 'raleway-semi-bold', 'arial', sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.skill-item-description{
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}
.skill-item:hover .skill-item-h,
.skill-item:hover .skill-item-p{
    color: #c7b299;
}
.skill-item:active .skill-item-h,
.skill-item:active .skill-item-p{
    color: #f1eee9;
}
.skill-item:hover .skill-icon{
    fill: #c7b299;
}
.skill-item:active .skill-icon{
    fill: #f1eee9;
}
.skill-item:after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: transparent;
}
.skill-item:hover.skill-item:after{
    background-color: #c7b299;
}
.skill-item:ative.skill-item:after{
    background-color: #f1eee9;
}
.skills-karusel-caption{
    color: #555555;
    font-family: 'Raleway-semi-bold', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    padding: 83px 0 0 0;
}
.skils-karusel-description{
    padding: 24px 583px 40px 583px;
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
}
.skills-karusel{
    position: relative;
    padding: 0 345px;
    display:flex;
    justify-content: center;
}
.skills-karusel-1{
    position: absolute;
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-left.jpg);
    top: 82px;
    left: 345px;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills-karusel-1:hover {
   z-index: 3;
   transform: scale(1.2)
}
.skills-karusel-2{
    width: 770px;
    height: 482px;
    background-image: url(../img/browser-center.jpg);
    margin: 0 auto;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills-karusel-2:hover {
   z-index: 2;
   transform: scale(1.2)
}
.skills-karusel-3{
    position: absolute;
    width: 770px;
    height: 400px;
    background-image: url(../img/browser-right.jpg);
    top: 82px;
    left: 805px;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills-karusel-3:hover {
   z-index: 3;
   transform: scale(1.2)
}
.offer{
    padding: 48px 376px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    position: relative;
}
.offer-caption{
    color: #ffffff;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0 0 8px 0;
}
.offer-caption-span{
    color: #c7b299;
}
.offer-description{
    color: #615855;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 18px;
    font-weight: 300;
    margin: 0;
}
.offer-btn{
    position: absolute;
    bottom: 50px;
    right: 376px;
}
.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 81px 346px;
}
.projects-caption{
    width: 100%;
    color: #555555;
    font-family: 'raleway-semi-bold', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.projects-description{
    width: 100%;
    text-align: center;
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.projects-menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.projects-menu-list{
    list-style-type: none;
}
.projects-menu-item{
    float: left;
    margin: 0 5px;
}
.projects-menu-link{
    display: block;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
}
.projects-menu-link:hover{
    background-color: #998675;
    color: #ffffff;
}
.projects-menu-link:active{
    background-color: #f1eee9;
    color: #998675;
}
.projects-item{
    margin: 15px;
    background-color: #fbfaf8;
    position: relative;
}
.projects-item:after{
    content: "";
    display: block;
    border: 25px solid transparent;
    border-bottom: 15px solid #fbfaf8;
    position: absolute;
    bottom: 112px;
    left: 39px;
}
.projects-hidden-link{
    position: absolute;
    fill: transparent;
}
.projects-hidden-link:first-of-type{
    top: 106px;
    left: 144px;
}
.projects-hidden-link:last-of-type{
    top: 106px;
    left: 198px;
}
.projects-item-caption{
    color: #c7b299;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding-left: 29px;
}
.projects-item-description{
    color: #d1d1d1;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-left: 29px;
/*    padding-bottom: 27px;*/
}
.projects-item:hover.projects-item img{
    filter:brightness(0.6);
}
.projects-item:hover{
    background-color: #362f2d;
}
.projects-item:hover .projects-hidden-link{
    fill: #c7b299;
}
.projects-item:hover .projects-hidden-link:hover{
    fill: #ffffff;
}
.projects-item:hover .projects-hidden-link:active{
    fill: #ccc;
}
.projects-item:hover.projects-item-caption{
    color: #ffffff;
}
.projects-item:hover.projects-item-description{
    color: #c7b299;
}
.projects-item:hover.projects-item:after{
    border-bottom-color: #362f2d;
}
.video{
    width: 100%;
    min-height: 705px;
    position: relative;
    overflow: hidden;
}
.video video{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.video-presentation{
    position: absolute;
    z-index: 2;
    width: 552px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 210px;
    left: 685px;
}
.video-btn{
    width: 100px;
    height: 100px;
    background-color: #000000;
    opacity: 0.2;
    border-radius: 50%;
}
.video-btn svg{
    fill: #fff;
}
.video-presentation h2{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 500;
}
.video-presentation p{
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.video-presentation span{
    color: #c7b299;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.mobile{
    width: 100%;
    background-color: #fbfaf8;
    padding-top: 79px;
    background-image: url(../img/iPhone_in_hand.png);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain;
    background-position: 423px;
}
.mobile-presentation{
    padding: 116px 388px 179px 877px;
    position: relative;
}
.mobile-presentation h2{
    color: #555555;
    font-family: 'raleway-semi-bold', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.mobile-presentation p{
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.details-block{
    padding-left: 79px;
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
}
.details-block summary::-webkit-details-marker {
    display: none;
}
.details-block summary{
    position: relative;
    outline: none;
}
.details-block summary:before{
    content: "";
    background-image: url(../img/details_arrow.png);
    display: block;
    position: absolute;
    top: 5px;
    left: -25px;
    width: 21px;
    height: 21px;
}
.details-block details[open] summary:before{
    transform: rotate(90deg);
}
.scores{
    display: flex;
    justify-content: center;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    padding: 69px 500px 92px 500px;
}
.scores-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    text-align: center;
    align-content: center;
    margin: 0;
}
.scores-item:after{
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}
.scores-item svg{
    fill: #c7b299;
}
.scores-item-number{
    width: 100%;
    color: #ffffff;
    font-family: 'montserrat-extra-light', 'arial', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
    padding: 30px 0 21px 0;
}
.scores-item-description{
    width: 100%;
    color: #c7b299;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
    padding: 80px 374px;
}
.posts-caption{
    text-align: center;
    width: 100%;
    color: #555555;
    font-family: 'raleway-semi-bold', 'arial', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.posts-description{
    text-align: center;
    width: 100%;
    padding: 0 200px;
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.posts-item{
    width: 370px;
    border: 1px solid #f8f8f8;
    position: relative;
    box-sizing: content-box;
    padding-bottom: 33px;
}
.posts-item:nth-last-of-type(2){
    margin: 0 20px;
}
.posts-item-caption,
.posts-item-description,
.posts-link{
    margin-left: 29px;
}
.posts-item-caption{
    color: #555555;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
.posts-item-description{
    min-width: 297px;
    color: #8c8c8c;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.posts-link{
    text-decoration: none;
    color: #c7b299;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
}
.posts-link:hover{
  color: #fff;  
}
.posts-link:after{
    content: "";
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 3px;
    right: -25px;
}
.posts-date{
    width: 50px;
    position: absolute;
    top: 20px;
    left: 20px;
}
.posts-date span{
    display: block;
}
.posts-date span:first-of-type{
    width: 100%;
    padding: 9px 0;
    border-radius: 3px 3px 0 0;
    background-color: #363636;
    text-align: center;
    color: #ffffff;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
}
.posts-date span:last-of-type{
    width: 100%;
    padding: 7px 0;
    text-align: center;
    border-radius: 0 0 3px 3px;
    background-color: #252525;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}
.posts-arrow{
    width: 22px;
    height: 22px;
    background-image: url(../img/posts-arrow.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: transparent;
    outline: none;
    margin: 40px 4px;
}
.posts-arrow:first-of-type{
    transform: rotate(180deg);
}
.posts-arrow:last-of-type:hover{
    background-image: url(../img/posts-arrow-hover.svg);
    transform: rotate(180deg);
}
.posts-arrow:first-of-type:hover{
    transform: none;
    background-image: url(../img/posts-arrow-hover.svg);
}
.posts-item:hover{
    background-color: #362f2d;
}
.posts-item:hover.posts-item img{
    filter: brightness(50%);
}
.posts-item:hover .posts-item-caption{
    color: #c7b299;
}
.posts-item:hover .posts-item-description{
    color: #ffffff;
}
.posts-item:hover .posts-date span:first-of-type{
    background-color: #c7b299;
}
.posts-item:hover .posts-date span:last-of-type{
    background-color: #a48d72;
}
.partners{
    padding: 140px 0;
    background-color: #414244;
    background-image: url(../img/partners-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.partner-logo{
    margin: 0 45px;
    align-self: center;
    transition: transform ease 500ms;
}
.partner-logo:hover{
    transform: scale(1.2);
}

/*FOOTER*/

.main-footer{
    background-color: #191919;
    display: flex;
    justify-content: center;
    padding: 80px 340px;
}
.main-footer-item{
    width: 25%;
    padding: 15px;
}
.about-waxom-description{
    clear: both;
    color: #555555;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding: 30px 0;
}
.about-waxom-link-more{
    text-decoration: none;
    color: #d1d1d1;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
/*    width: 74px;*/
    display: block;
    position: relative;
}
.about-waxom-link-more:after{
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    top: 5px;
    left: 100px;
}
.about-waxom-link-more:hover{
    color: #c7b299;
}
.about-waxom-link-more:hover.about-waxom-link-more:after{
    border-left: 5px solid #c7b299;
}
.main-footer-item-caption{
    width: 100%;
    color: #ffffff;
    font-family: 'raleway', 'arial', sans-serif;
    font-size: 24px
    font-weight: 700;
}
.recent-posts-item{
    text-decoration: none;
    display: block;
    padding: 20px 0;
}
.recent-posts-date{
    color: #363636;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.recent-posts-item:hover .recent-posts-date{
    color: #ffffff;
}
.main-footer-item-description{
    color: #555555;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.recent-posts-item:hover .main-footer-item-description{
    color: #c7b299;
}
.twitter-item{
    padding: 18px 0 20px 0;  
}
.twitter-item p span{
    color: #00bff3;
    margin: 0 2px;
}
.twitter-item > span{
    color: #363636;
    font-size: 12px;
    font-weight: 300;
}
.twitter-item a{
    text-decoration: none;
    color: #959595;
}
.twitter-item a:hover{
    color: #595f6f;
}
.twitter-item a:active{
    color: #fff;
}
.recent-posts-item,
.twitter-item{
    border-bottom: 1px solid #252525;  
}
.recent-posts-item:hover{
    border-bottom: 1px solid #595f6f;  
}
.dribble-widget{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.dribble-widget a{
    display: block;
    padding: 5px;
}
.dribble-widget img{
    vertical-align: bottom;
}
.dribble-widget a:hover >img{
    transform: scale(1.2)
}
.copyright{
    background-color: #111111;
    padding: 45px 376px 52px;
    display: flex;
    justify-content: space-between;
}
.copyright-nav{
    display: flex;
    
}
.copyright-menu-item:first-child,
.copyright-menu-item:last-child{
    border: transparent;
}
.copyright-menu-item{
    text-decoration: none;
    color: #555555;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    display: block;
    padding: 0 10px;
    border-right: 1px solid #252525;
    border-left: 1px solid #252525;
}
.copyright-menu-item:hover,
.design-menu-item a:hover{
    color: #c7b299;
}
.copyright-menu-item:active,
.design-menu-item a:active{
    color: #fff;
}
.copyright-menu-item span{
    text-transform: capitalize;
    color: #959595;
}
.copyright-menu-item:hover > span{
    color: #c7b299;
}
.design{
    display: flex;
    
}
.design-menu-item{
/*    float: left;*/
    padding: 0 10px;
    color: #555555;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}
.design-menu-item:first-child{
    border-right: 1px solid #252525;
}
.design-menu-item a{
    padding-left: 2px;
    text-decoration: none;
    color: #959595;
    font-family: 'montserrat', 'arial', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}




@media(max-width: 480px){
    body{
        width: 450px;
        margin: 0 auto;
    }
    .main-header{
        padding: 20px 10px;
        background-image: url(../img/header-background-photo1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main-main-header{
        flex-wrap: wrap;
        position: relative;
    }
    .logo{
        width: 100%;
    }
    label{
        display: block;
        position: absolute;
        top: 10px;
        right: 0;
    }
    .main-menu{
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
    }
    .main-menu-link{
        text-align: right;
    }
    .main-header img,
    .pagination,
    .slogan,
    .cart,
    .search{
        display: none;
    }
    .skills-header{
        padding: 20px 0;
        flex-wrap: wrap;
    }
    .skill-item{
        flex-wrap: wrap;
        width: 45%;
        padding: 10px 10px;
}
    .skills-karusel-caption,
    .skils-karusel-description,
    .skills-karusel{
        display: none;
    }
    .offer{
        display: none;
    }
    .projects{
        padding: 20px 0;
    }
    .projects-menu{
        display: none;
    }
    .projects-item{
        width: 80%;
        margin: 5px auto;
    }
    .projects-item img{
        width: 100%;
    }
    
    .projects-hidden-link{
        display: none;
    }
    .video{
        min-height: 300px;
    }
    .video-presentation{
        top: 25%;
        left: 25%;
        width: 50%;
    }
    .video-btn{
        width: 50px;
        height: 50px;
        background-image: url(../img/video-icon-play.svg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .video-btn svg{
        display: none;
    }
    .video-presentation h2{
        font-size: 14px;
    }
    .video-presentation p{
        font-size: 10px;
        line-height: 17px;
    }
    .video-presentation span{
    font-size: 14px;
    }
    .mobile{
        padding-top: 30px;
        background-image: url(../img/iPhone_in_hand.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: 20px bottom;
    }
    .mobile-presentation{
        margin: 0 auto;
        padding: 0 20px;
    }
    .details-block{
        padding-left: 179px;
    }
    .scores{
        display: none;
    }
    .posts{
        padding: 20px 60px;
    }
    .posts-description{
        padding: 0;
    }
    .posts-arrow{
        display: none;
    }
    .partners{
        padding: 40px 20px;
    }
    .partner-logo{
        margin: 0 10px;
    }
    .partner-logo img{
        width: 100%;
        height: 10%; 
    }
    .main-footer{
        padding: 20px 10px;
        flex-wrap: wrap;
    }
    .main-footer-item{
        width: 40%;
        padding: 15px;
    }
    .copyright{
        padding: 20px 10px;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .copyright-nav,
    .design{
        padding: 20px 0;
        width: 100%;
        justify-content: center;
    }
    
}